*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    margin-top:25vh;
}
.game-box{
    padding: 30px;
    display: flex;
    gap: 10px;
}
.element{
    padding: 10px 20px 10px 20px;
    font-size: 32px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 30px;
    
}
.row{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.turn{
    font-size: 25px;
    font-family: poppins    ;
}
.restart-button{
    padding: 10px 50px;
    border-radius: 10px;
    background-color: white;
    font-family: poppins;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.element:hover{
    background-color: rgb(221, 221, 221);
    transition: .5s;
}